.series {
    margin-bottom: 20px;
}

.series-container {

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.series-container a {
    color: #1e1e1e;
}